.searchDialogPaper {
  background: unset !important;
  color: #171717 !important;
}

@media (prefers-color-scheme: dark) {
  .searchDialogPaper {
    background: unset !important;
    color: #ededed !important;
  }
}
